annotated-types
anyio
certifi
click
elastic-transport
elasticsearch
fastapi
h11
idna
pydantic
pydantic-core
python-dateutil
python-dotenv
six
sniffio
starlette
typing-extensions
typing-inspection
urllib3
uvicorn
requests